extends layout
block content

    style.
        body {
            background-image: url('../images/detail.jpg');
            background-size: 100% 200%; 
        }
    
    h1= title

    if (toShow == null)
        h2 No instance to show
    else
        - let ExoticGemid = toShow._id
        - let gem_name = toShow.gem_name
        - let rarity_level = toShow.rarity_level
        - let color = toShow.color
        div
            div.row
                div(class='ExoticGemAttr mr-3') ExoticGem ID is:
                div #{ExoticGemid}
                br
            div.row
                div(class='ExoticGemAttr mr-3') ExoticGem Name is:
                div #{gem_name}
                br
            div.row
                div(class='ExoticGemAttr mr-3') ExoticGem Rarity Level is:
                div #{rarity_level}
                br
            div.row
                div(class='ExoticGemAttr mr-3') ExoticGem Color is:
                div #{color}
                
